a {
  text-decoration: none;
}

.nav-button {
  color: #594545;
}

#profile-section {
  color: #594545;
}

#skills-section h1, #projects-section h1 {
  color: #594545;
}

#skills-section {
  color: #fff8ea;
}

#navbar {
  z-index: 100;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (min-width: 0px) {
  #profile-section {
    padding-top: 30vw;
    padding-bottom: 15vw;
  }

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 15px;
  }
}

@media (min-width: 480px) {
  p {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 10px;
  }

  h2 {
    font-size: 15px;
  }

  #profile-section {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }
}